th,
td {
    width: 20%;
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:hover,
th:hover {
    background-color: #f1f1f1;
}

input {
    background-color: #ffffff;
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
    padding: 12px 12px;
    margin: 10px 10px;
    border-radius: 15px;
}

input:hover {
    background-color: rgb(241, 241, 241);
}

input:active {
    border: 2px solid rgb(253, 253, 255);
}

button {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:active {
    background-color: rgb(241, 171, 171);
}

.delete-button {
    background-color: rgb(214, 31, 31);
}

.delete-button:hover {
    background-color: rgb(250, 56, 56);
}

.add-button {
    background-color: rgb(31, 104, 214);
}

.add-button:hover {
    background-color: rgb(80, 132, 211);
}

.row {
    display: flex;
    justify-content: space-between;
}

.form-container {
    max-width: 600px;
    min-width: 320px;
}

.label {
    display: flex;
    justify-content: left;
    padding-left: 15px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    max-width: 150px;
}

.radio-group-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
    max-width: 120px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px
}

.radio-group-items:hover {
    background-color: rgb(241, 241, 241);
}

@media screen and (max-width: 896px) {

    th,
    td {
        width: 100%;
        display: block;
        text-align: left;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-container {
        width: 100%;
    }

    .label {
        justify-content: center;
        padding-left: 0;
    }
}